html{
	min-height: 100%;
}

body{
	background: #4b2a4f;
	background: -webkit-radial-gradient(#884873, #4b2a4f);
	background: -o-radial-gradient(#884873, #4b2a4f);
	background: -moz-radial-gradient(#884873, #4b2a4f);
	background: radial-gradient(#884873, #4b2a4f);
	color: #fff3cf;
}

.navbar{
	background-color: transparent;
	border: none;
	position: relative;
}

.navbar-default .navbar-brand{
	color: #fff3cf;
}

.navbar-default .navbar-nav>li>a{
	color: #fff3cf;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	color: #fff3cf !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff3cf;
}

.navbar-default .navbar-toggle{
	border: none;
}

.brand-center{
	position: absolute;
	left: 50%;
	margin-left: -70px;
	display: block;
}

.form-control{
	margin-top: 12px;
}

.inner-addon{
	position: relative;
}

.inner-addon .glyphicon{
	position: absolute;
	padding: 20px;
	pointer-events: none;
}

.right-addon .glyphicon{
	right: 0px;
}

.right-addon input{
	padding-right: 30px;
}

.glyphicon.search-hidden-xs{
	color: #333;
}

#search-xs{
	padding: 1em;
	cursor: pointer;
}

button.navbar-toggle.collapsed:hover, button.navbar-toggle.collapsed:active, button.navbar-toggle.collapsed:focus{
	background-color: transparent;
}

ul.nav.nav-pills {
	display: inline-block;
	border: 1px solid #fff3cf;
	border-radius: 2em;
}

ul.nav-pills li a {
	float: left;
	color: #fff;
	padding: 1em 2em;
}

ul.nav-pills  li a:hover, ul.nav-pills  li a:active, ul.nav-pills  li a:focus, ul.nav-pills li a:visited, .nav-pills>li.active>a{
	background-color: #fff3cf !important;
	color: #4b2a4f !important;
	border-radius: 0;
}

ul.nav-pills  li.first-pill a:hover, ul.nav-pills  li.first-pill a:active, ul.nav-pills  li.first-pill a:focus, ul.nav-pills  li.first-pill a:visited, .nav-pills>li.first-pill.active>a{
	background-color: #fff3cf;
	color: #4b2a4f;
	border-radius: 2em 0 0 2em;
}

ul.nav-pills  li.last-pill a:hover, ul.nav-pills  li.last-pill a:active, ul.nav-pills  li.last-pill a:focus, ul.nav-pills  li.last-pill a:visited, .nav-pills>li.last-pill.active>a{
	background-color: #fff3cf;
	color: #4b2a4f;
	border-radius: 0 2em 2em 0;
}

.progress{
	margin-top: 2em;
}

.numbers{
	font-size: 1.3em;
	color: #ff867d;
	margin-top: 0;
}

.completed{
	text-shadow: 1px 4px 0 #615660;
}

#total-sales-dollars-wk, #total-sales-dollars-tday, #total-sales-dollars-mth{
	color: #bc6373;
}

#sales-graph-wk, #sales-graph-tday, #sales-graph-mth{
	margin-bottom: 1.5em;
}

#sales-chart-wk, #sales-chart-tday, #sales-chart-mth{
	margin-top: 1.5em;
}

.circle-img{
	margin-right: 1em;
}

#hoodie-sales-dollars-tday, #hoodie-sales-dollars-wk, #hoodie-sales-dollars-mth, #cap-sales-dollars-tday, #cap-sales-dollars-wk, #cap-sales-dollars-mth, #bracelet-sales-dollars-tday, #bracelet-sales-dollars-wk, #bracelet-sales-dollars-mth{
	margin-top: 10px;
}

.row{
	margin-bottom: .5em;
}

.progress-bar{
	background-color: #ff867d;
}

.progress{
	height: 10px;
	background-color: transparent;
	border: 1px solid #fff3cf;
	border-radius: 1em;
}